<div class="faq-container">
  <mat-card class="faq-card">
    <mat-card-header class="mat-card-title">
      <mat-card-title>Frequently Asked Questions</mat-card-title>
    </mat-card-header>
  

  <mat-card-content>
    <!-- FAQ item using Angular Material card -->
    
    <!-- Repeat the same structure for other FAQ items -->
    <div class="faq-item">
      <h2>How can I find a carpool match?</h2>
      <p>When you log in, a map will show up displaying available routes and drivers, allowing you to find a carpool match that suits your needs.</p>
    </div>

    <div class="faq-item">
      <h2>What should I do if I have a problem with my carpool?</h2>
      <p>If you're having issues, please contact us through the 'Support' section.</p>
    </div>

    <div class="faq-item">
      <h2>What is the radius of the app?</h2>
      <p>The app covers a radius of 100 kilometers from ATU Sligo.</p>
    </div>

    <div class="faq-item">
      <h2>Do drivers stop on the routes to college to pick people up?</h2>
      <p>Yes, drivers may make stops on their routes to pick up other passengers.</p>
    </div>
  </mat-card-content>
  </mat-card>
</div>
