/* role-selection.component.css */
.role-selection-container {
    position: relative;
    display: flex;
    height: 100vh; /* Set the height to fill the entire viewport */
}

.choose-role-header {
    position: absolute;
    top: 50px; /* Adjust this value to add space between the navbar and the text */
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: #000000; 
}

.role-option {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    padding: 20px;
    border-color: black;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.driver {
    background-color: #5d5d5d; /* Light blue for the driver side */
    color: #fff; /* White text color for better contrast */
}

.passenger {
    background-color: #5d5d5d; /* Gold for the passenger side */
    color: #fff; /* White text color for better contrast */
}

.role-option:hover {
    background-color: #f0f0f0;
}
