<form [formGroup]="registrationForm">
  <div class="registration-container">
    <mat-card class="registration-card">
      <mat-card-header>
        <mat-card-title class="registration-title">Register</mat-card-title>
      </mat-card-header>
      
      <mat-card-content class="registration-content">
      <mat-form-field class="registration-form-field">
        <input matInput placeholder="Full Name" aria-label="Full Name" formControlName="fullName">
        <mat-error *ngIf="registrationForm.get('fullName')?.hasError('required')">Full name is required</mat-error>
        <mat-error *ngIf="registrationForm.get('fullName')?.hasError('containsNumbers')">Numbers are not allowed</mat-error>
      </mat-form-field>
      

      <mat-form-field class="registration-form-field">
        <input matInput placeholder="Email" aria-label="Email" formControlName="email">
        <mat-error *ngIf="registrationForm.get('email')?.hasError('required') || registrationForm.get('email')?.hasError('invalidEmailFormat')">
          {{ registrationForm.get('email')?.hasError('required') ? 'Email is required' : 'Invalid email format' }}
        </mat-error>
      </mat-form-field>
      
      <!---
      <mat-form-field class="registration-form-field">
        <input matInput placeholder="Email" aria-label="Email" formControlName="email">
        <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="registrationForm.get('email')?.hasError('invalidEmailFormat')">Invalid email format</mat-error>
      </mat-form-field>
    -->
  
      <mat-form-field class="registration-form-field">
        <input matInput type="password" placeholder="Password" aria-label="Password" formControlName="password">
        <mat-error *ngIf="registrationForm.get('password')?.hasError('required')">Password is required</mat-error>
      </mat-form-field>
      
      <mat-form-field class="registration-form-field">
        <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
        <mat-error *ngIf="!passwordsMatch()" class="text-danger">Passwords do not match</mat-error>
      </mat-form-field>
    </mat-card-content>
  
      <mat-card-actions class="registration-actions">
        <button mat-raised-button color="primary" (click)="register()" [disabled]="!registrationForm.valid">Register</button>
        <button mat-button (click)="goToLogin()">Go to Login</button>
      </mat-card-actions>
    </mat-card>
  </div>
  
  </form>
