<mat-card class="about-us-card">
    <mat-card-header  class="about-us-header">
      <mat-card-title>About Us</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="about-us-content">
        We are a team of four college students who recognized a common problem among our peers - the challenges of commuting to campus and finding parking spaces. As students ourselves, we've experienced the frustration of navigating through traffic and facing the dilemma of finding a parking spot, only to realize that the car park is often full.
        <br><br>
        Driven by our shared experiences and a desire to make a positive impact, we came together to create ATUCarPool. Our mission is simple: to provide a convenient and sustainable solution for students to commute to college by facilitating carpooling among peers. By connecting students who are commuting from similar areas, we aim to reduce traffic congestion, alleviate parking shortages, and foster a sense of community among students.
        <br><br>
        At ATUCarPool, we're committed to making student life easier and more sustainable. Join us in our journey to create a greener, more connected campus environment.
      </p>
    </mat-card-content>
  </mat-card>
  