<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-button routerLink="/faq" class="navbar-button">FAQ</button>
  <button mat-button *ngIf="!isLoggedIn" routerLink="/dashboard" class="navbar-button">Dashboard</button>
  <button mat-button *ngIf="isLoggedIn" routerLink="/dashboard" class="navbar-button">Dashboard</button>
  <button mat-button *ngIf="isLoggedIn" routerLink="/my-account" class="navbar-button">My Account</button>
  <button mat-button *ngIf="isLoggedIn" (click)="logout()" class="navbar-button">Logout</button>
</mat-toolbar>
