<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>

  <button mat-button *ngIf="!isLoggedIn" routerLink="/login">Login</button>
  <button mat-button *ngIf="!isLoggedIn" routerLink="/registration">Register</button>
  
  <!-- Only show "My Account" and "Logout" if user is logged in -->
  <ng-container *ngIf="isLoggedIn">
    <button mat-button routerLink="/my-account">My Account</button>
    <button mat-button (click)="logout()">Logout</button>
  </ng-container>
</mat-toolbar>
