.container {
  display: flex;
  flex-direction: row;
}

/* Map Container Styles */
.map-container {
  flex: 1;
  height: 300px;
  overflow: hidden;
  border-bottom: 3px solid black;
}

.map {
  height: 100%;
  width: 100%;
}

.routes-container {
  flex: 1;
  height: 300px;
  overflow-y: auto; /* Enable vertical scrolling */
  border-top: 3px solid black;
}
.table-container {
    margin-top: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 8px;
    border: 1px solid #000000;
    text-align: left;
    color: white; /* Ensure text color contrasts with the background */
  }
  
  .table th {
    background-color: #1a1a1a; /* Dark background for headers */
  }
  
  .table tbody tr:hover {
    background-color: #13bcf0; /* Highlight color on row hover */
  }
  
  /* Styles for the Map */
  #map {
    height: 400px;
    width: 100%; /* Ensure map fills the container width */
  }
  
  
  /* Additional Button for Adding Routes */
  .add-route-cell {
    text-align: center; 
  }
  
  /* Button Alignment */
  .center-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center-button button {
    margin-right: 10px; 
  }

  /* Add hover effect to buttons */
.hover-button {
  transition: background-color 0.3s ease; 
}

.hover-button:hover {
  background-color: #68696a; 
}

.estimated-time-and-buttons {
  display: flex;
  align-items: center;
}

.estimated-time {
  margin-right: 10px; /* Adjust as needed */
}

  
  /* Last button margin correction */
  .center-button button:last-child {
    margin-right: 0; /* Remove margin for the last button */
  }
  
  /* Highlighting Selected Route */
  .selected td {
    background-color: #88d28b; /* Highlight selected route */
    color: white; /* Text color for contrast */
  }
  
  /* Responsive Design Adjustments */
  @media (max-width: 768px) {
    .add-route-btn, .show-on-map-btn, .availability-btn {
      padding: 8px 12px; /* Adjust padding for smaller screens */
      margin: 5px; /* Adjust margin to fit more compact spaces */
    }
  
    .table th, .table td {
      padding: 6px; /* Smaller padding for table cells on smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .center-button {
      flex-direction: column; /* Stack buttons vertically on very small screens */
    }
  
    .center-button button {
      width: 100%; /* Full width buttons for easier interaction */
      margin-bottom: 10px; /* Space between vertically stacked buttons */
    }
  
    .center-button button:last-child {
      margin-bottom: 0; /* Remove bottom margin for the last button */
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay-content {
    background-color: #fff; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  }