<div id="map" style="height: 400px;"></div>

<table class="table">
  <thead>
    <tr>
    
      <th>Origin</th>
      <th>Destination</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <td colspan="4" class="add-route-cell">
      <button routerLink="/add-route" class="add-route-btn">Add a route</button>
    </td>
    <tr *ngFor="let route of routes" [class.selected]="route === selectedRoute">
    <tr *ngFor="let route of routes" (click)="selectRoute(route)" [class.selected]="route === selectedRoute">
     
      <td>{{ route.origin.name}}</td>
      <td>{{ route.destination.name}}</td>
      <td class="center-button">
        <button class="show-on-map-btn" (click)="drawSelectedRoute(route)">Show on Map</button>
        <button class="availability-btn" (click)="checkAvailability(route)">Availability</button>
      </td> <!-- Merge action and availability buttons -->
    </tr>
  </tbody>
</table>
