.login-container {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-actions {
    justify-content: space-between;
  }

  /* Add this CSS to your component's CSS file or a global stylesheet */
.app-header {
  position: absolute;
  top: 20px; /* Adjust the top position as needed */
  left: 20px; /* Adjust the left position as needed */
}

.app-name {
  font-size: 36px; /* Adjust the font size as needed */
  font-weight: bold;
  color: #007bff; /* Adjust the color as needed */
  margin: 0;
  padding: 0;
=======
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  width: 300px;
}

.full-width {
  width: 100%;
}

.error-message {
  color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px; /* Adjust the font size as needed */
  margin-top: 5px; /* Adjust the margin as needed */
}

.login-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  width: 100%;
}

.login-actions div {
  width: 48%;
}
