.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-actions {
    justify-content: space-between;
  }

  .error-message {
    color: red;
    font-size: 14px; /* Adjust the font size as needed */
    margin-top: 5px; /* Adjust the margin as needed */
  }