#map {
    height: 80%;
    width: 100%;  
}

.spacer {
    flex: 1 1 auto;
}

/* Styles for the table to ensure visibility and basic formatting */
.table {
    width: 100%;
    margin-top: 20px; /* Adds space between the map and the table */
    border-collapse: collapse; /* Removes the space between borders */
}

/* Style for table headers */
.table th {
    background-color: #000000; /* Black background for headers */
    color: white;
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* Style for table data cells */
.table td {
    text-align: left; /* Align text to the left */
    padding: 8px; /* Add some padding */
    border-bottom: 1px solid #ddd; /* Add a bottom border to each cell */
    background-color: white; /* Set the background color to white */
}

/* Add hover effect for rows - Optional */
.table tr:hover {
    background-color: #ddd; /* Light grey background on hover */
}
