<div class="dashboard-container">
    <mat-card>
      <mat-card-header class="header">
        <mat-card-title>Welcome to ATU CarPool</mat-card-title>
      </mat-card-header>
      <div class="image">
        <img src="assets/ATU_Sligo.jpg" alt="ATU Sligo" class="Atu-logo" />
      </div>
      <mat-card-content>
        <h2>Safety and Security Tips</h2>
        <p>Here are some tips to ensure safety and security during trips:</p>
        <ul>
          <li>Always verify the driver and vehicle details before boarding.</li>
          <li>Share trip details with trusted contacts.</li>
          <li>Choose well-lit and populated pickup/drop-off locations.</li>
          <li>Trust your instincts; if something feels wrong, cancel the trip.</li>
        </ul>
  
        <h2>Best Practices for Using the App</h2>
        <p>Follow these best practices for a seamless experience:</p>
        <ul>
          <li>Keep your app updated to the latest version.</li>
          <li>Rate your trips to provide feedback and improve service.</li>
          <li>Report any issues or concerns to customer support.</li>
          <li>Show respect to fellow users.</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  