html, body {
  height: 100%;
  margin: 0; /* Remove default margin */
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #5d5d5d; /* This sets the background color to a medium grey */
  padding-top: 100px; /* Add padding-top to create space for the logo */
  position: relative; /* Set body to relative position */
}

/* Style for the logo image */
img.navbar-logo {
  position: absolute; /* Absolute position to place it relative to the body */
  top: 20px; /* Adjust top position as needed */
  left: 20px; /* Adjust left position to place it in the top left corner */
  z-index: 1000; /* Ensure the logo appears above other elements */
  width: 430px; /* Set the width of the logo */
  height: auto; /* Automatically adjust the height */
  cursor: pointer; /* Set cursor to pointer for interactivity */
}

img.navbar-logo:hover {
  opacity: 0.8; /* Reduce opacity on hover for a visual effect */
}

/* Media query for tablets */
@media (max-width: 768px) {
  img.navbar-logo {
    width: 300px; /* Reduce logo width for smaller devices */
    top: 10px; /* Adjust top position */
    left: 10px; /* Adjust left position */
  }

  body {
    padding-top: 80px; /* Reduce padding-top to adjust for the smaller logo */
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  img.navbar-logo {
    width: 200px; /* Further reduce logo width for very small screens */
    top: 5px; /* Adjust top position */
    left: 5px; /* Adjust left position */
  }

  body {
    padding-top: 60px; /* Further reduce padding-top for the smaller logo */
  }
}
