<div class="account-container">
  <button mat-raised-button color="primary" (click)="switchRole()" class="switch-role-button">Switch Role</button>
  
  <h3 class="heading">Your ATU-CarPool Account</h3>
  <!-- Display user information -->
  <div class="user-info" *ngIf="users">
    <div class="user-card" *ngFor="let user of users">
      <p><strong>Name:</strong> {{ user.name }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
    </div>
  </div>

  <!-- Displaying recent trips -->
  <h3 class="heading">Recent Trips</h3>
  <div class="recent-trips" *ngIf="recentTrips && recentTrips.length > 0">
    <!-- Display recent trips based on user role -->
    
      <div class="trip-card" *ngFor="let trip of recentTrips">
        <p><strong>Trip:</strong> {{ trip.Trip }}</p>
        <p><strong>From:</strong> {{ trip.origin }}</p>
        <p><strong>Destination:</strong> {{ trip.destination }}</p>
        <p><strong>Date:</strong> {{ trip.Date }} </p>
      </div>
  </div>

  <!-- Displaying upcoming trips -->
  <h3 class="heading">Upcoming Trips</h3>
  <div class="upcoming-trips" *ngIf="upcomingTrips && upcomingTrips.length > 0">
    <!-- Display upcoming trips based on user role -->
    
      <div class="trip-card" *ngFor="let trip of upcomingTrips">
        <p><strong>From:</strong> {{ trip.origin }}</p>
        <p><strong>Destination:</strong> {{ trip.destination }}</p>
      </div>
    
  </div>

  <div *ngIf="userRole === 'driver'">
    <h3 class="heading">Passenger Details for Upcoming Trip</h3>
    <div class="passengers-details">
      <!-- Display details of passengers the driver is providing a lift for -->
      <table class="passenger-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Pickup Point</th>
            <th>Destination</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let passenger of passengers">
            <td>{{ passenger.name }}</td>
            <td>{{ passenger.pickupPoint }}</td>
            <td>{{ passenger.destination }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>




