.account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #3498db; /* Set the background color */
    border-radius: 10px; /* Add some border radius for a rounded look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }

  h4 {
    color: #ffffff; /* Set the text color */
    text-align: center; /* Center the text */
  }

  /* Additional styles for user information */
  h2, p {
    color: #ffffff;
    margin: 5px 0;
  }